<?xml version='1.0' encoding='utf-8'?>
<widget id="com.binary.outline.android.client" version="1.1.4" android-versionCode="9" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Binary.com VPN</name>
    <description>
        Internet without borders (powered by Shadowsocks)
    </description>
    <content src="cordova_index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="android-minSdkVersion" value="21" />
    <preference name="android-targetSdkVersion" value="24" />
    <preference name="AndroidLaunchMode" value="singleInstance" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <platform name="android">
        <preference name="orientation" value="portrait" />
        <preference name="SplashMaintainAspectRatio" value="true" />
        <icon density="ldpi" src="resources/icons/android/icon_mdpi.png" />
        <icon density="mdpi" src="resources/icons/android/icon_mdpi.png" />
        <icon density="hdpi" src="resources/icons/android/icon_hdpi.png" />
        <icon density="xhdpi" src="resources/icons/android/icon_xhdpi.png" />
        <icon density="xxhdpi" src="resources/icons/android/icon_xxhdpi.png" />
        <icon density="xxxhdpi" src="resources/icons/android/icon_xxxhdpi.png" />
        <splash density="ldpi" src="resources/splashscreen/android/splashscreen_hdpi.png" />
        <splash density="mdpi" src="resources/splashscreen/android/splashscreen_hdpi.png" />
        <splash density="hdpi" src="resources/splashscreen/android/splashscreen_hdpi.png" />
        <splash density="xhdpi" src="resources/splashscreen/android/splashscreen_xhdpi.png" />
        <splash density="xxhdpi" src="resources/splashscreen/android/splashscreen_xxhdpi.png" />
        <splash density="xxxhdpi" src="resources/splashscreen/android/splashscreen_xxxhdpi.png" />
        <custom-config-file parent="./application/activity/[@android:name='MainActivity']" target="AndroidManifest.xml">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="ss" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="s3.amazonaws.com" android:path="/outline-vpn/invite.html" android:scheme="https" />
            </intent-filter>
        </custom-config-file>
    </platform>
    <platform name="browser">
        <preference name="ShowSplashScreen" value="false" />
    </platform>
    <platform name="ios">
        <preference name="deployment-target" value="9.0" />
        <preference name="DisallowOverscroll" value="true" />
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarBackgroundColor" value="#263238" />
        <preference name="StatusBarStyle" value="lightcontent" />
        <splash src="resources/splashscreen/ios/splashscreen@2x~universal~anyany.png" />
        <icon height="57" src="resources/icons/ios/Icon-57@1x.png" width="57" />
        <icon height="114" src="resources/icons/ios/Icon-57@2x.png" width="114" />
        <icon height="120" src="resources/icons/ios/Icon-60@2x.png" width="120" />
        <icon height="180" src="resources/icons/ios/Icon-60@3x.png" width="180" />
        <icon height="167" src="resources/icons/ios/Icon-83.5@2x.png" width="167" />
        <icon height="72" src="resources/icons/ios/Icon-72@1x.png" width="72" />
        <icon height="144" src="resources/icons/ios/Icon-72@2x.png" width="144" />
        <icon height="76" src="resources/icons/ios/Icon-76@1x.png" width="76" />
        <icon height="152" src="resources/icons/ios/Icon-76@2x.png" width="152" />
        <icon height="1024" src="resources/icons/ios/Icon-512@2x.png" width="1024" />
        <icon height="80" src="resources/icons/ios/Icon-40@2x.png" width="80" />
        <icon height="120" src="resources/icons/ios/Icon-40@3x.png" width="120" />
        <icon height="50" src="resources/icons/ios/Icon-50@1x.png" width="50" />
        <icon height="100" src="resources/icons/ios/Icon-50@2x.png" width="100" />
        <icon height="29" src="resources/icons/ios/Icon-29@1x.png" width="29" />
        <icon height="58" src="resources/icons/ios/Icon-29@2x.png" width="58" />
        <icon height="87" src="resources/icons/ios/Icon-29@3x.png" width="87" />
        <icon height="40" src="resources/icons/ios/Icon-20@2x.png" width="40" />
        <icon height="60" src="resources/icons/ios/Icon-20@3x.png" width="60" />
    </platform>
    <platform name="osx">
        <preference name="deployment-target" value="10.11" />
        <preference name="AllowWebViewNavigation" value="false" />
        <icon height="16" src="resources/icons/osx/icon-16.png" width="16" />
        <icon height="32" src="resources/icons/osx/icon-32.png" width="32" />
        <icon height="64" src="resources/icons/osx/icon-64.png" width="64" />
        <icon height="128" src="resources/icons/osx/icon-128.png" width="128" />
        <icon height="256" src="resources/icons/osx/icon-256.png" width="256" />
        <icon height="512" src="resources/icons/osx/icon-512.png" width="512" />
        <icon height="1024" src="resources/icons/osx/icon-1024.png" width="1024" />
    </platform>
    <plugin name="com.borismus.webintent" spec="https://github.com/cordova-misc/cordova-webintent.git#v1.1.0" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-splashscreen" spec="~5.0.2" />
    <plugin name="cordova-custom-config" spec="^5.0.2" />
    <plugin name="cordova-plugin-outline" spec="./cordova-plugin-outline" />
    <plugin name="cordova-plugin-device" spec="~1.1.6" />
    <plugin name="cordova-plugin-statusbar" spec="~2.2.3" />
    <plugin name="com.verso.cordova.clipboard" spec="https://github.com/Jigsaw-Code/outline-cordova-plugin-clipboard.git#f83bfc" />
    <sentry>
        <dev dsn="https://319145c481df41458bb6e84c1a99c9ff@sentry.io/159503" />
        <release dsn="https://6a1e6e7371a64db59f5ba6c34a77d78c@sentry.io/159502" />
        <dev-native dsn="https://319145c481df41458bb6e84c1a99c9ff:73cc3261d25e44ac90221e7d9ad30b24@sentry.io/159503" />
        <release-native dsn="https://6a1e6e7371a64db59f5ba6c34a77d78c:568f6c78f9f94f91afba4aba05756001@sentry.io/159502" />
    </sentry>
    <engine name="android" spec="^7.1.0" />
    <engine name="browser" spec="^4.1.0" />
    <engine name="ios" spec="https://github.com/apache/cordova-ios#7397337c" />
</widget>
